<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Wizard
    afterCancel="NPGNewProductGenerator_acc.go()"
    afterFinish="NPGWizardFinished_acc.go()"
    beforeCommit="wizardDataUtil.process()"
    canEdit="true"
    canVisit="perm.User.importadmindata"
    cancelWarning="DisplayKey.get(&quot;Accelerator.NPG.Web.Wizard.CancelWarning&quot;)"
    id="NPG_accWizard"
    inheritMenuLinks="true"
    isDraftOnEnter="false">
    <LocationEntryPoint
      signature="NPG_accWizard()"/>
    <Variable
      initialValue="new gw.acc.npg.wizard.WizardProductLineCreator()"
      name="wizardDataUtil"
      type="gw.acc.npg.wizard.WizardProductLineCreator"/>
    <WizardStep
      allowFinish="false"
      allowNext="true"
      id="ProductAndLine"
      screen="NPGWizardProductAndLine_accScreen(wizardDataUtil.getProductInfoStepDTO())"
      title="DisplayKey.get(&quot;Accelerator.NPG.Web.Wizard.Steps.ProductAndLine&quot;)"/>
    <WizardStep
      allowFinish="false"
      allowNext="true"
      id="Coverables"
      screen="NPGWizardCoverables_accScreen(wizardDataUtil.getCoverableStepDTOs())"
      title="DisplayKey.get(&quot;Accelerator.NPG.Web.Wizard.Steps.Coverables&quot;)"/>
    <WizardStep
      allowFinish="false"
      allowNext="true"
      id="Costs"
      screen="NPGWizardCosts_accScreen(wizardDataUtil.getCostsStepDTOs())"
      title="DisplayKey.get(&quot;Accelerator.NPG.Web.Wizard.Steps.Costs&quot;)"/>
    <WizardStep
      allowFinish="false"
      allowNext="true"
      id="OtherEntities"
      screen="NPGWizardOtherEntities_accScreen(wizardDataUtil.getOtherEntitiesStepDTOs())"
      title="DisplayKey.get(&quot;Accelerator.NPG.Web.Wizard.Steps.OtherEntities&quot;)"/>
    <WizardStep
      allowFinish="wizardDataUtil.IsValid"
      allowNext="false"
      id="Summary"
      screen="NPGWizardSummary_accScreen(wizardDataUtil)"
      title="DisplayKey.get(&quot;Accelerator.NPG.Web.Wizard.Steps.Summary&quot;)"/>
  </Wizard>
</PCF>