<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Screen
    id="NPGWizardCoverables_accScreen">
    <Variable
      initialValue="coverables.toTypedArray()"
      name="coverablesArray"
      type="gw.acc.npg.wizard.CoverableStepDTO[]"/>
    <Require
      name="coverables"
      type="java.util.Set&lt; gw.acc.npg.wizard.CoverableStepDTO &gt;"/>
    <Toolbar>
      <WizardButtons/>
    </Toolbar>
    <PanelRef
      id="Panel">
      <Toolbar
        visible="true">
        <AddButton
          id="AddBtn"
          iterator="CoverableIterator"
          label="DisplayKey.get(&quot;Accelerator.NPG.Web.Wizard.Fields.Form.AddButton&quot;)"
          toCreateAndAdd="var x = new gw.acc.npg.wizard.CoverableStepDTO(); coverables.add(x); return x"/>
        <RemoveButton
          id="RemoveBtn"
          iterator="CoverableIterator"
          label="DisplayKey.get(&quot;Accelerator.NPG.Web.Wizard.Fields.Form.RemoveButton&quot;)"/>
      </Toolbar>
      <ListViewPanel
        id="FieldsLV">
        <RowIterator
          canPick="false"
          editable="true"
          elementName="coverable"
          id="CoverableIterator"
          toRemove="coverables.remove(coverable)"
          value="coverablesArray"
          valueType="gw.acc.npg.wizard.CoverableStepDTO[]">
          <Row>
            <TextCell
              editable="true"
              id="EntityName"
              label="DisplayKey.get(&quot;Accelerator.NPG.Web.Wizard.Coverable.EntityName&quot;)"
              regex="gw.acc.npg.validators.NameConstraintValidator.RegexExpression.ENTITY_NAME.Pattern.pattern()"
              required="true"
              tooltip="DisplayKey.get(&quot;Accelerator.NPG.Web.Wizard.Coverable.EntityName.Help&quot;)"
              value="coverable.EntityName"/>
            <TextCell
              editable="true"
              id="Description"
              label="DisplayKey.get(&quot;Accelerator.NPG.Web.Wizard.Coverable.Description&quot;)"
              required="true"
              tooltip="DisplayKey.get(&quot;Accelerator.NPG.Web.Wizard.Coverable.Description.Help&quot;)"
              value="coverable.Description"/>
            <TextCell
              editable="true"
              id="ReferencedFrom"
              label="DisplayKey.get(&quot;Accelerator.NPG.Web.Wizard.Coverable.ReferencedFrom&quot;)"
              regex="gw.acc.npg.validators.NameConstraintValidator.RegexExpression.FIELD_NAME.Pattern.pattern()"
              required="true"
              tooltip="DisplayKey.get(&quot;Accelerator.NPG.Web.Wizard.Coverable.ReferencedFrom.Help&quot;)"
              value="coverable.ReferenceName"/>
            <TextCell
              editable="true"
              id="ReferredFrom"
              label="DisplayKey.get(&quot;Accelerator.NPG.Web.Wizard.Coverable.ReferredFrom&quot;)"
              regex="gw.acc.npg.validators.NameConstraintValidator.RegexExpression.ENTITY_NAME.Pattern.pattern()"
              required="true"
              tooltip="DisplayKey.get(&quot;Accelerator.NPG.Web.Wizard.Coverable.ReferredFrom.Help&quot;)"
              value="coverable.ReferredFrom"/>
            <CheckBoxCell
              editable="true"
              id="AttachedToLocation"
              label="DisplayKey.get(&quot;Accelerator.NPG.Web.Wizard.Coverable.AttachedToLocation&quot;)"
              tooltip="DisplayKey.get(&quot;Accelerator.NPG.Web.Wizard.Coverable.AttachedToLocation&quot;)"
              value="coverable.AttachedToLocation"/>
            <CheckBoxCell
              editable="true"
              id="AttachedToBuilding"
              label="DisplayKey.get(&quot;Accelerator.NPG.Web.Wizard.Coverable.AttachedToBuilding&quot;)"
              tooltip="DisplayKey.get(&quot;Accelerator.NPG.Web.Wizard.Coverable.AttachedToBuilding&quot;)"
              value="coverable.AttachedToBuilding"/>
            <CheckBoxCell
              editable="true"
              id="IncludeConditions"
              label="DisplayKey.get(&quot;Accelerator.NPG.Web.Wizard.Coverable.IncludeConditions&quot;)"
              tooltip="DisplayKey.get(&quot;Accelerator.NPG.Web.Wizard.Coverable.IncludeConditions&quot;)"
              value="coverable.IncludeConditions"/>
            <CheckBoxCell
              editable="true"
              id="IncludeExclusions"
              label="DisplayKey.get(&quot;Accelerator.NPG.Web.Wizard.Coverable.IncludeExclusions&quot;)"
              tooltip="DisplayKey.get(&quot;Accelerator.NPG.Web.Wizard.Coverable.IncludeExclusions&quot;)"
              value="coverable.IncludeExclusions"/>
            <CheckBoxCell
              editable="true"
              id="IncludeModifiers"
              label="DisplayKey.get(&quot;Accelerator.NPG.Web.Wizard.Coverable.IncludeModifiers&quot;)"
              tooltip="DisplayKey.get(&quot;Accelerator.NPG.Web.Wizard.Coverable.IncludeModifiers&quot;)"
              value="coverable.IncludeModifiers"/>
            <FormatCell
              id="Fields"
              label="DisplayKey.get(&quot;Accelerator.NPG.Web.Wizard.Fields.Form.FieldsInLV&quot;)"
              tooltip="DisplayKey.get(&quot;Accelerator.NPG.Web.Wizard.Fields.Coverable.Help&quot;)">
              <ContentInput>
                <PickerLink
                  action="NPGWizardFields_accPopup.push(coverable.Fields)"
                  id="FieldsManager"
                  label="DisplayKey.get(&quot;Accelerator.NPG.Web.Wizard.Fields.Form.FieldsButtonInLV&quot;, coverable.Fields.Count)"
                  onPick="coverable.Fields = PickedValue"
                  visible="true"/>
              </ContentInput>
            </FormatCell>
          </Row>
        </RowIterator>
      </ListViewPanel>
    </PanelRef>
  </Screen>
</PCF>