<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Screen
    id="NPGWizardSummary_accScreen">
    <Require
      name="wizardDataUtil"
      type="gw.acc.npg.wizard.WizardProductLineCreator"/>
    <Variable
      initialValue="wizardDataUtil.getProductInfoStepDTO()"
      name="productInfo"
      type="gw.acc.npg.wizard.ProductInfoStepDTO"/>
    <Variable
      initialValue="wizardDataUtil.getCoverableStepDTOs().toTypedArray()"
      name="coverablesArray"
      type="gw.acc.npg.wizard.CoverableStepDTO[]"/>
    <Variable
      initialValue="wizardDataUtil.getCostsStepDTOs().toTypedArray()"
      name="costsArray"
      type="gw.acc.npg.wizard.CostStepDTO[]"/>
    <Variable
      initialValue="wizardDataUtil.getOtherEntitiesStepDTOs().toTypedArray()"
      name="entitiesArray"
      type="gw.acc.npg.wizard.OtherEntityStepDTO[]"/>
    <Toolbar>
      <WizardButtons/>
      <ToolbarButton
        action="wizardDataUtil.isValid()"
        id="ValidateBtn"
        label="DisplayKey.get(&quot;Accelerator.NPG.Web.Wizard.Summary.Validate&quot;)"/>
    </Toolbar>
    <DetailViewPanel
      editable="false">
      <InputColumn>
        <Label
          label="DisplayKey.get(&quot;Accelerator.NPG.Web.Wizard.Product.Title&quot;)"/>
        <TextInput
          editable="false"
          id="PackageName"
          label="DisplayKey.get(&quot;Accelerator.NPG.Web.Wizard.Product.PackageName&quot;)"
          value="productInfo.PackageName"/>
        <TextInput
          editable="false"
          id="DisplayName"
          label="DisplayKey.get(&quot;Accelerator.NPG.Web.Wizard.Product.DisplayName&quot;)"
          value="productInfo.ProductDisplayName"/>
        <TextInput
          editable="false"
          id="Code"
          label="DisplayKey.get(&quot;Accelerator.NPG.Web.Wizard.Product.Code&quot;)"
          value="productInfo.ProductCode"/>
        <TextInput
          editable="false"
          id="Abbreviation"
          label="DisplayKey.get(&quot;Accelerator.NPG.Web.Wizard.Product.Abbreviation&quot;)"
          value="productInfo.ProductAbbreviation"/>
        <TextInput
          editable="false"
          id="EntitySuffix"
          label="DisplayKey.get(&quot;Accelerator.NPG.Web.Wizard.Product.EntitySuffix&quot;)"
          value="productInfo.ProductEntitySuffix"/>
        <Label
          id="LineTitle"
          label="DisplayKey.get(&quot;Accelerator.NPG.Web.Wizard.Line.Title&quot;)"/>
        <TextInput
          editable="false"
          id="LineCode"
          label="DisplayKey.get(&quot;Accelerator.NPG.Web.Wizard.Line.Code&quot;)"
          value="productInfo.LineCode"/>
        <TextInput
          editable="false"
          id="LineEntityName"
          label="DisplayKey.get(&quot;Accelerator.NPG.Web.Wizard.Line.EntityName&quot;)"
          value="productInfo.LineEntityName"/>
        <CheckBoxInput
          editable="false"
          id="LineIncludeConditions"
          label="DisplayKey.get(&quot;Accelerator.NPG.Web.Wizard.Line.IncludeConditions&quot;)"
          value="productInfo.LineIncludeConditions"/>
        <CheckBoxInput
          editable="false"
          id="LineIncludeExclusions"
          label="DisplayKey.get(&quot;Accelerator.NPG.Web.Wizard.Line.IncludeExclusions&quot;)"
          value="productInfo.LineIncludeExclusions"/>
        <CheckBoxInput
          editable="false"
          id="LineIncludeModifiers"
          label="DisplayKey.get(&quot;Accelerator.NPG.Web.Wizard.Line.IncludeModifiers&quot;)"
          value="productInfo.LineIncludeModifiers"/>
        <TextInput
          editable="false"
          id="Fields"
          label="DisplayKey.get(&quot;Accelerator.NPG.Web.Wizard.Line.Fields&quot;)"
          value="DisplayKey.get(&quot;Accelerator.NPG.Web.Wizard.Fields.Form.FieldsCount&quot;, productInfo.Fields.Count)"/>
      </InputColumn>
    </DetailViewPanel>
    <DetailViewPanel>
      <InputColumn>
        <Label
          label="DisplayKey.get(&quot;Accelerator.NPG.Web.Wizard.Coverable.LVTitle&quot;)"/>
      </InputColumn>
    </DetailViewPanel>
    <ListViewPanel
      id="CoverablesLV">
      <RowIterator
        canPick="false"
        editable="false"
        elementName="coverable"
        id="CoverableIterator"
        pageSize="0"
        value="coverablesArray"
        valueType="gw.acc.npg.wizard.CoverableStepDTO[]">
        <Row>
          <TextCell
            id="EntityName"
            label="DisplayKey.get(&quot;Accelerator.NPG.Web.Wizard.Coverable.EntityName&quot;)"
            value="coverable.EntityName"/>
          <TextCell
            id="Description"
            label="DisplayKey.get(&quot;Accelerator.NPG.Web.Wizard.Coverable.Description&quot;)"
            value="coverable.Description"/>
          <TextCell
            id="ReferencedFrom"
            label="DisplayKey.get(&quot;Accelerator.NPG.Web.Wizard.Coverable.ReferencedFrom&quot;)"
            value="coverable.ReferenceName"/>
          <TextCell
            id="ReferredFrom"
            label="DisplayKey.get(&quot;Accelerator.NPG.Web.Wizard.Coverable.ReferredFrom&quot;)"
            value="coverable.ReferredFrom"/>
          <CheckBoxCell
            id="AttachedToLocation"
            label="DisplayKey.get(&quot;Accelerator.NPG.Web.Wizard.Coverable.AttachedToLocation&quot;)"
            value="coverable.AttachedToLocation"/>
          <CheckBoxCell
            id="AttachedToBuilding"
            label="DisplayKey.get(&quot;Accelerator.NPG.Web.Wizard.Coverable.AttachedToBuilding&quot;)"
            value="coverable.AttachedToBuilding"/>
          <CheckBoxCell
            editable="false"
            id="IncludeConditions"
            label="DisplayKey.get(&quot;Accelerator.NPG.Web.Wizard.Coverable.IncludeConditions&quot;)"
            value="coverable.IncludeConditions"/>
          <CheckBoxCell
            editable="false"
            id="IncludeExclusions"
            label="DisplayKey.get(&quot;Accelerator.NPG.Web.Wizard.Coverable.IncludeExclusions&quot;)"
            value="coverable.IncludeExclusions"/>
          <CheckBoxCell
            editable="false"
            id="IncludeModifiers"
            label="DisplayKey.get(&quot;Accelerator.NPG.Web.Wizard.Coverable.IncludeModifiers&quot;)"
            value="coverable.IncludeModifiers"/>
          <TextCell
            id="Fields"
            label="DisplayKey.get(&quot;Accelerator.NPG.Web.Wizard.Fields.Form.FieldsInLV&quot;)"
            value="DisplayKey.get(&quot;Accelerator.NPG.Web.Wizard.Fields.Form.FieldsCount&quot;, coverable.Fields.Count)"/>
        </Row>
      </RowIterator>
    </ListViewPanel>
    <DetailViewPanel>
      <InputColumn>
        <Label
          label="DisplayKey.get(&quot;Accelerator.NPG.Web.Wizard.Cost.LVTitle&quot;)"/>
      </InputColumn>
    </DetailViewPanel>
    <ListViewPanel
      id="CostsLV">
      <RowIterator
        canPick="false"
        editable="false"
        elementName="cost"
        id="CostIterator"
        pageSize="0"
        value="costsArray"
        valueType="gw.acc.npg.wizard.CostStepDTO[]">
        <Row>
          <TextCell
            editable="false"
            id="EntityName"
            label="DisplayKey.get(&quot;Accelerator.NPG.Web.Wizard.Cost.EntityName&quot;)"
            value="cost.EntityName"/>
          <TextCell
            editable="false"
            id="Description"
            label="DisplayKey.get(&quot;Accelerator.NPG.Web.Wizard.Cost.Description&quot;)"
            value="cost.Description"/>
          <TextCell
            editable="false"
            id="ReferencedFrom"
            label="DisplayKey.get(&quot;Accelerator.NPG.Web.Wizard.Cost.ReferenceName&quot;)"
            value="cost.ReferenceName"/>
          <TextCell
            editable="false"
            id="CoverableName"
            label="DisplayKey.get(&quot;Accelerator.NPG.Web.Wizard.Cost.CoverableName&quot;)"
            value="cost.CoverableName"/>
          <TextCell
            editable="false"
            id="CoverageName"
            label="DisplayKey.get(&quot;Accelerator.NPG.Web.Wizard.Cost.CoverableEntityForCoverage&quot;)"
            value="cost.CoverageName"/>
          <TextCell
            editable="false"
            id="ParentCost"
            label="DisplayKey.get(&quot;Accelerator.NPG.Web.Wizard.Cost.ParentCost&quot;)"
            value="cost.ParentCost"/>
          <TextCell
            id="Fields"
            label="DisplayKey.get(&quot;Accelerator.NPG.Web.Wizard.Fields.Form.FieldsInLV&quot;)"
            value="DisplayKey.get(&quot;Accelerator.NPG.Web.Wizard.Fields.Form.FieldsCount&quot;, cost.Fields.Count)"/>
        </Row>
      </RowIterator>
    </ListViewPanel>
    <DetailViewPanel>
      <InputColumn>
        <Label
          label="DisplayKey.get(&quot;Accelerator.NPG.Web.Wizard.OtherEntity.LVTitle&quot;)"/>
      </InputColumn>
    </DetailViewPanel>
    <ListViewPanel
      id="EntitiesLV">
      <RowIterator
        canPick="false"
        editable="false"
        elementName="entity"
        id="EntityIterator"
        pageSize="0"
        value="entitiesArray"
        valueType="gw.acc.npg.wizard.OtherEntityStepDTO[]">
        <Row>
          <TextCell
            editable="false"
            id="EntityName"
            label="DisplayKey.get(&quot;Accelerator.NPG.Web.Wizard.OtherEntity.EntityName&quot;)"
            value="entity.EntityName"/>
          <TextCell
            editable="false"
            id="Description"
            label="DisplayKey.get(&quot;Accelerator.NPG.Web.Wizard.OtherEntity.Description&quot;)"
            value="entity.Description"/>
          <TextCell
            id="Fields"
            label="DisplayKey.get(&quot;Accelerator.NPG.Web.Wizard.Fields.Form.FieldsInLV&quot;)"
            value="DisplayKey.get(&quot;Accelerator.NPG.Web.Wizard.Fields.Form.FieldsCount&quot;, entity.Fields.Count)"/>
        </Row>
      </RowIterator>
    </ListViewPanel>
  </Screen>
</PCF>