<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <!-- SA done -->
  <Page
    canVisit="perm.System.viewmypolicychanges"
    id="DesktopOtherWorkOrders"
    title="DisplayKey.get(&quot;Web.Dashboard.Tile.ChangeRequests&quot;)">
    <LocationEntryPoint
      signature="DesktopOtherWorkOrders()"/>
    <Variable
      initialValue="Job.finder.findDesktopOtherWorkOrdersJobsByUser(User.util.CurrentUser)"
      name="workOrders"
      recalculateOnRefresh="true"
      type="gw.api.database.IQueryBeanResult&lt;entity.Job&gt;"/>
    <Screen
      id="DesktopOtherWorkOrdersScreen">
      <TitleBar
        title="DisplayKey.get(&quot;Web.Dashboard.Tile.ChangeRequests&quot;)"/>
      <Toolbar/>
      <PanelRef
        def="DesktopOtherWorkOrdersLV(workOrders)"/>
    </Screen>
  </Page>
</PCF>