<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Page
    canVisit="perm.System.viewmyrenewals"
    id="DesktopRenewals"
    title="DisplayKey.get(&quot;Web.DesktopRenewals&quot;)">
    <LocationEntryPoint
      signature="DesktopRenewals()"/>
    <Variable
      initialValue="Job.finder.findRenewalsByUser(User.util.CurrentUser)"
      name="renewals"
      recalculateOnRefresh="true"
      type="gw.api.database.IQueryBeanResult&lt;entity.Renewal&gt;"/>
    <Screen
      id="DesktopRenewalsScreen">
      <TitleBar
        title="DisplayKey.get(&quot;Web.DesktopRenewals&quot;)"/>
      <Toolbar/>
      <PanelRef
        def="DesktopRenewalsLV(renewals)"/>
    </Screen>
  </Page>
</PCF>