<?xml version="1.0"?>
<PCF xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd"><CardViewPanel id="NewContactTravelerDetailsCV">
  <Require
    name="policyContactRole"
    type="PolicyContactRole"/>
  <Require
    name="openForEditOverride"
    type="boolean"/>
  <Variable
    initialValue="new gw.globalization.PolicyContactRoleNameAdapter(policyContactRole)"
    name="policyContactRoleAdapter"
    recalculateOnRefresh="true"
    type="gw.globalization.PolicyContactRoleNameAdapter"/>
  <Variable
    initialValue="policyContactRole.AccountContactRole.AccountContact.Contact"
    name="contact"
    recalculateOnRefresh="true"
    type="entity.Contact"/>
  <Variable
    initialValue="policyContactRole.Branch"
    name="period"
    recalculateOnRefresh="true"
    type="entity.PolicyPeriod"/>
  <Variable
    initialValue="contact.PrimaryAddress"
    name="primaryAddress"
    recalculateOnRefresh="true"
    type="entity.Address"/>
  <Variable
    initialValue="gw.util.concurrent.LocklessLazyVar.make(\ -&gt; period.OpenForEdit)"
    name="openForEditInit"
    recalculateOnRefresh="true"
    type="gw.util.concurrent.LocklessLazyVar&lt;java.lang.Boolean&gt;"/>
  <Variable
    initialValue="openForEditOverride or openForEditInit.get()"
    name="openForEdit"
    recalculateOnRefresh="true"
    type="boolean"/>
  <Variable
    initialValue="(policyContactRole.AccountContactRole as Traveler)"
    name="traveler"
    recalculateOnRefresh="true"
    type="Traveler"/>
  <Card
    id="PolicyContactRoleDetailCard"
    title="DisplayKey.get(&quot;Web.AccountContacts.AccountDetail&quot;)">
    <DetailViewPanel>
      <InputColumn>
        <Label
          id="PersonLabel"
          label="DisplayKey.get(&quot;Web.Policy.TRV.TRVCover.PersonLabel&quot;)"/>
        <InputSetRef
          def="GlobalPersonNameInputSet(new gw.api.name.RequiredBasicNameOwner(policyContactRoleAdapter))"
          mode="gw.api.name.NameLocaleSettings.PCFMode"/>
        <CheckBoxInput
          editable="true"
          id="IsForeigner"
          label="DisplayKey.get(&quot;Web.Policy.TRV.TRVCover.IsForeigner&quot;)"
          value="traveler.IsForeigner"/>
        <DateInput
          editable="true"
          id="BirthDate"
          label="DisplayKey.get(&quot;Web.Policy.TRV.TRVCover.BirthDate&quot;)"
          value="policyContactRole.DateOfBirth"/>
        <TypeKeyInput
          editable="true"
          id="Genre"
          label="DisplayKey.get(&quot;Web.Policy.TRV.TRVCover.Genre&quot;)"
          value="traveler.Genre"
          valueType="typekey.Genre_Ext"/>
        <Label
          id="HealthLabel"
          label="DisplayKey.get(&quot;Web.Policy.TRV.TRVCOver.HealthLabel&quot;)"/>
        <CheckBoxInput
          editable="true"
          id="HasChronicDisease"
          label="DisplayKey.get(&quot;Web.Policy.TRV.TRVCover.HasChronicDisease&quot;)"
          value="traveler.HasChronicDisease">
          <PostOnChange
            target="ChronicDiseaseDetails"/>
        </CheckBoxInput>
        <TextInput
          editable="true"
          id="ChronicDiseaseDetails"
          label="DisplayKey.get(&quot;Web.Policy.TRV.TRVCover.ChronicDiseaseDetails&quot;)"
          value="traveler.ChronicDiseaseDetails"
          valueType="String"
          visible="traveler.HasChronicDisease"></TextInput>
        <CheckBoxInput
          editable="true"
          id="HasPreExisteningDisease"
          label="DisplayKey.get(&quot;Web.Policy.TRV.TRVCover.HasPreExisteningDisease&quot;)"
          value="traveler.HasPreExisteningDisease">
          <PostOnChange
            target="PreExisteningDiseaseDetails"/>
        </CheckBoxInput>
        <TextInput
          editable="true"
          id="PreExisteningDiseaseDetails"
          label="DisplayKey.get(&quot;Web.Policy.TRV.TRVCover.PreExisteningDiseaseDetails&quot;)"
          value="traveler.PreExisteningDiseaseDetails"
          valueType="String"
          visible="traveler.HasPreExisteningDisease"></TextInput>
        <CheckBoxInput
          editable="true"
          id="HasHealthInsurance"
          label="DisplayKey.get(&quot;Web.Policy.TRV.TRVCover.HasHealthInsurance&quot;)"
          value="traveler.HasHealthInsurance">
          <PostOnChange
            target="HealthInsuranceDetails"/>
        </CheckBoxInput>
        <TextInput
          editable="true"
          id="HealthInsuranceDetails"
          label="DisplayKey.get(&quot;Web.Policy.TRV.TRVCover.HealthInsuranceDetails&quot;)"
          value="traveler.HealthInsuranceDetails"
          valueType="String"
          visible="traveler.HasHealthInsurance"></TextInput>
        <ListViewInput
          def="OfficialIDTravelerLV(contact)"
          label="DisplayKey.get(&quot;Web.Policy.TRV.TRVCover.OfficialID&quot;)"
          labelAbove="true">
          <Toolbar>
            <IteratorButtons
              iterator="OfficialIDTravelerLV.OfficialIDTravelerLV"/>
          </Toolbar>
        </ListViewInput>
      </InputColumn>
      <InputColumn>
        <InputSetRef
          def="LinkedAddressInputSet(primaryAddress, policyContactRole.AccountContactRole.AccountContact.Contact, period, period.Policy.Account, openForEdit)"/>
        <InputSetRef
          def="AddressInputSet(new gw.pcf.contacts.AddressInputSetAddressOwner(primaryAddress, false, true))"
          editable="primaryAddress.LinkedAddress == null"/>
        <TypeKeyInput
          editable="primaryAddress.LinkedAddress == null"
          id="AddressType"
          label="DisplayKey.get(&quot;Web.ContactDetail.AddressDetail.AddressType&quot;)"
          required="true"
          value="primaryAddress.AddressType"
          valueType="typekey.AddressType"/>
      </InputColumn>
    </DetailViewPanel>
  </Card>
</CardViewPanel></PCF>