<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <ExitPoint
    id="MulticlusterAccount"
    target="PolicyCenter"
    url="{shardUrl}/pc/AccountFile.do">
    <LocationEntryPoint
      signature="MulticlusterAccount(shardUrl : String, accountNumber : String)"/>
    <ExitPointParameter
      locationParam="shardUrl"
      type="String"
      urlParam="shardUrl"/>
    <ExitPointParameter
      locationParam="accountNumber"
      type="String"
      urlParam="AccountNumber"/>
  </ExitPoint>
</PCF>